@font-face {
    font-family: 'Harrington';
    src: url('../fonts/BOD_R.ttf') format('truetype');
}

.hamburger {
    background: none;
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 5px 15px 0 15px;
    color: #ffffff;
    border: 0;
    font-size: 2.5rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    margin: 0;
}

.cross {
    background: none;
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 6px 15px 0 12px;
    color: #ffffff;
    border: 0;
    font-size: 5rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    max-height: 60px;
    margin: 0;
}

.menu {
    z-index: 1000000;
    font-family: 'Harrington';
    font-weight: normal;
    font-size: 2rem;
    width: 100%;
    background: #c9c2b0;
    position: absolute;
    text-align: center;
    margin-top: 13%;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
}

.menu li:hover {
    display: block;
    color: #bc6b04;
    padding: 15px 0 15px 0;
}

.menu a {
    text-decoration: none;
    color: #433c29;
}

.menu a:hover {
    text-decoration: none;
    color: #bc6b04;
}
