* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Harrington';
    src: url('../fonts/HARNGTON.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-size: 0.9rem;
}

h1 {
    font-family: 'Harrington';
    font-size: 2rem;
    color: black;
    margin: 0 0 5% 0;
}

/* HEADER & LOGO */
header {
    width: 100%;
    min-height: 150px;
    background-color: #696353;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
}

header h1 {
    color: white;
    padding-top: 5%;
}

.logo {
    width: 100%;
    position: absolute;
}

.logo img {
    width: 100px;   /* stays the same for all screen sizes */
}

.desktop {  /* for hamburger menue */
    display: none;
}

.container {
    padding: 5%;
}

article {
    margin-top: 25%;
}

h2 {
    font-family: 'Bodoni MT';
    font-size: 1.5rem;
    color: #0b4d2e;
    padding-bottom: 5%;
}

p {
    line-height: 1.5;
    padding-bottom: 5%;
}
