* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Harrington';
    src: url('../fonts/HARNGTON.ttf') format('truetype');
}

@font-face {
    font-family: 'Bodoni MT';
    src: url('../fonts/BOD_R.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-size: 0.9rem;
}

h1 {
    font-family: 'Harrington';
    font-size: 2rem;
    color: black;
    margin: 0 0 5% 0;
}

/* HEADER & LOGO */
header {
    width: 100%;
    min-height: 150px;
    background-color: #696353;
    text-align: center;
    position: relative;
}

header h1 {
    color: white;
    padding-top: 5%;
}

.logo {
    width: 100%;
    position: absolute;
}

.logo img {
    width: 100px;   /* stays the same for all screen sizes */
}

.desktop {  /* for hamburger menue */
    display: none;
}

.container {
    padding: 20% 5% 5% 5%;
}

/* homepage backgroung */
.home {
    background-image: url('../img/home-background.png');
    background-size: cover;
}

h2 {
    font-family: 'Harrington';
    font-size: 1.7rem;
    color: #0b4d2e;
    padding-bottom: 1rem;
}

h3 {
    font-family: 'Bodoni MT';
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2;
    color: #bc6b04;
}

h4 {
    margin: 5% 0;
}

h4 span {
    color: #0b4d2e;
    font-size: 1.1rem;
    font-weight: bolder;
}

h5 {
    font-size: 1rem;
    color: #bd9057;
    padding-bottom: 4%;
}

h6 {
    font-size: 0.9rem;
    line-height: 2;
    color: #433c29;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    padding-bottom: 5%;
}

/* style stay the same for all screen sizes */
button,
input[type="reset"],
input[type="submit"] {
    max-height: 50px;
    border-radius: 5px;
    background-color: #0b4d2e;
    color: white;
    padding: 15px;
    margin: 5% 0;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #bd9057;
}

/* styling the menu file */
div.foodmenu {
    background-image: url('../img/foodbackground.png');
    background-size: cover;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
}

span.price {
    font-style: italic;
    margin-left: 10px;
    font-size: 0.8rem;
}

/* ------------------------------- */

/* ---- styling the contact file ---- */
.contact {
    padding-left: 7%;
}

.contact section {
    margin-bottom: 10%;
}

.contact li {
    line-height: 3;
}

.contact img {
    max-width: 30px;
    vertical-align: -10px;
}

.contact .social img {
    max-width: 40px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"] {
    display: block;
    border: 1px solid #696353;
    line-height: 1.5;
    margin-top: 2%;
}

textarea {
    border: 2px solid #696353;
    background-color: #d2cbb9;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}

label {
    display: block;
    margin-bottom: 7%;
    font-weight: bold;
}

/* ------------------------------- */

/* ---- styling the events file ---- */
section + section {
    margin-top: 20%;
}

.events article {
    background-color: #d2cbb9;
    padding: 2% 0;
    max-width: 400px;
}

.events article + article {
    margin-top: 7%;
}

/* different background fo the promotions */
.promo article {
    background-color: white;
    border: 1px solid #696353;
}

figure,
img {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.events figure {
    margin-top: 5%;
}

figcaption {
    text-align: center;
    padding-bottom: 3%;
    color: #0b4d2e;
}

.events h3,
.events h6,
.events p {
    padding: 0 3%;
}

/* ------------------------------- */

/* ---- styling the footer ---- */
footer {
    background-color: #696353;
    color: white;
    padding: 5%;
    text-align: center;
    min-height: 220px;
    max-height: 330px;
}

footer section + section {
    margin-top: 7%;
}

footer p {
    padding-bottom: 0;
}

.social li {
    display: inline;
    padding: 2%;
    text-align: center;
}

.social img {
    width: 40px;
}

/************* Media Queries ************/
@media (min-width: 550px) {

    .container {
        padding-top: 15%;
    }

    header {
        min-height: 100px;
    }

    header h1 {
        width: 60%;
        float: right;
        text-align: left;
        margin-right: 10%;
    }

    .logo {
        width: 30%;
        float: left;
        margin-top: 15px;   /* stays the same from this point on */
    }

    .buttons,
    .links {
        display: inline;
    }

    .contact section {
        width: 50%;
        float: left;
    }

    .contact .social {
        margin-top: 0;
        min-height: 180px;
    }

    section + section {
        margin-top: 10%;
    }

    footer {
        clear: both;
    }

    footer section {
        width: 60%;
        float: left;
    }

    footer section:last-child {
        width: 40%;
        float: right;
    }
}
